@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif !important;
}

.container {
  padding: 16px;
}

.textField {
  width: 100%;
  margin-bottom: 16px;
}

.button {
  width: 100%;
  margin-top: 16px;
  border-radius: 20px;
}

.css-1oqqzyl-MuiContainer-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.css-9um3tp-MuiPaper-root-MuiCard-root {
  box-shadow: none !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 12px !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius:16px !important;
}
